.grid {
	width:400px;
	height:380px; 
	background-color:#bbada0;
	padding: 10px;
    border-radius: 4px;
}
.row .box {
	display: inline-block;
	width: 90px;
	height:90px;
	background-color:#ccc0b3;
	margin:2px;
	border-radius:4px;
}

.row .box .label {
	color: white;
	width: 90px;
	height: 40px;
	font-size: 40px;
	text-align: center;
	top: 30px;
	position:relative;
}
.row {
	margin:5px;
	display:inline;

}